<!-- <app-header></app-header>
<div class="dashboard-container">
  <div class="sidebar" [class.active]="sidebarOpen">
    <div class="sidebar-header">
      <button class="close-sidebar" (click)="toggleSidebar()">✕</button>
    </div>
    <ul class="nav-menu">
      <li class="nav-item active">
        <a href="#">
          <img src="assets/salary.png" alt="Savings Icon">
          बचत जमा करणे
        </a>
      </li>
      <li class="nav-item">
        <a (click)="navigateToloan()">
          <img src="assets/home.png" alt="Loan Application Icon">
          कर्जासाठी अर्ज
        </a>
      </li>
      <li class="nav-item">
        <a href="#">
          <img src="assets/document.png" alt="Transaction History Icon">
          व्यवहार इतिहास
        </a>
      </li>
      <li class="nav-item">
        <a href="#">
          <img src="assets/megaphone.png" alt="Communication Icon">
          संवाद आणि पारदर्शकता
        </a>
      </li>
      <li class="nav-item">
        <a (click)="navigateToprofile()">
          <img src="assets/edit.png" alt="Profile Icon">
          प्रोफाइल आणि माहिती
        </a>
      </li>
    </ul>
  </div>
 </div>
<app-footer></app-footer>
 -->
