<app-header></app-header>

<div class="form-wrapper">
  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmitChangePassword()">
    <div class="form-group">
      <label for="currentPassword">जुना पासवर्ड</label>
      <input
        type="password"
        id="currentPassword"
        formControlName="currentPassword"
        required
      />
    </div>

    <div class="form-group">
      <label for="newPassword">नवीन पासवर्ड</label>
      <input
        type="password"
        id="newPassword"
        formControlName="newPassword"
        required
        minlength="6"
      />
    </div>

    <button type="submit" [disabled]="changePasswordForm.invalid">
      सबमिट करा
    </button>

    <p *ngIf="successMessage" class="success">{{ successMessage }}</p>
    <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
  </form>
</div>

<app-footer></app-footer>
